@media print {
  .noPrint {
    display: none !important;
    opacity: 0 !important;
  }

  .addForm {
    width: 100%;
  }

  .BG {
    background: none !important;
  }
  .addForm {
    background-color: white !important;
    width: 100% !important;
    box-shadow: none !important;
  }
  .addForm * {
    color: #000;
  }

  textarea,
  select,
  input {
    border-color: transparent !important;
    color: black !important;
    background-color: transparent !important;
  }

  .buttons {
    display: none;
  }
}
